body{
    direction: rtl;
    background-color: #1e1e1e
}
header h1{
    color: #94ff7f;
    text-align: center;
    margin-top: 30px;
}
.calculator{
    margin-top: 40px;
    border: 2px solid #94ff7f;
    width: 300px;
    margin-right: 405px;
    border-radius: 5px;
    background-color: #636363;
}
.btn{
    background-color: #fff;
    color: #c24949;
    margin: 5px;
}
.btn:hover{
    color: #c24949;
    background-color: #1b1b1b;
}
.calculator input{
    border: none;
    outline: none;
    height: 37px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 55px;
}
.result{
    margin-bottom: 5px;
}